<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">
      {{ partial "seo_schema" . }}
      <meta name="description" content="Create a static websites and WordPress sites with our help. Use our photo services for automotive and other photography requests." />
      <div class="site-branding">
        {{ if .Site.Params.header.logo_img }}
        <p class="site-logo">
          <a href="{{ "/" | relURL }}">
            <img src="{{ .Site.Params.header.logo_img | relURL }}" alt="Logo" />
          </a>
          <!-- Icons -->
          <!-- Icons: General favicon -->
          <link rel="shortcut icon" href="/favicon.ico">
          <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
          <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
          <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
          <!-- Icons: Add to homescreen for Chrome on Android -->
          <meta name="mobile-web-app-capable" content="yes">
          <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
          <!-- Icons: Add to homescreen for Safari on iOS -->
          <meta name="apple-mobile-web-app-capable" content="yes">
          <meta name="apple-mobile-web-app-status-bar-style" content="black">
          <meta name="apple-mobile-web-app-title" content="franzpisto">
          <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
          <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
          <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
          <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
          <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
          <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
          <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
          <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
          <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        </p><!-- .site-logo -->
        {{ end }}
        {{ if or (eq .Params.layout "home") (eq .Params.layout "blog") }}
        <h1 class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></h1>
        {{ else }}
        <p class="site-title"><a href='{{ "/" | relURL }}'>{{ .Site.Params.header.title }}</a></p>
        {{ end }}
      </div><!-- .site-branding -->
      {{ if and .Site.Menus.main .Site.Params.header.has_nav }}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {{ range $item := .Site.Menus.main }}
            <li class="menu-item {{ if eq $.URL $item.URL }} current-menu-item{{ end }}">
              <a href="{{ $item.URL | relURL }}">{{ $item.Name }}</a>
            </li>
            {{ end }}
          </ul><!-- .menu -->
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
      {{ end }}
    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
</header><!-- .site-header -->
